.pagination {
  width: 300px;
  height: 50px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  background-color: azure;
  color: black;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 10px;
}

.card:hover {
  background-color: rgba(240, 255, 255, 0.858);
}

.card__section-image {
  padding: 1px;
}

.card__name {
  font-size: large;
}

.card__description {
  font-size: medium;
}

.card__image {
  height: 120px;
}
