.detailed-view {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  background-color: black;
  padding: 10px;
}

.close-button {
  position: relative;
  top: 20px;
  left: 390px;
  cursor: pointer;
}
