.nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  background-color: darkgoldenrod;
  vertical-align: middle;
}

.nav__logo {
  width: 30%;
}

.nav__search {
  width: 70%;
  display: flex;
  justify-content: flex-end;
}
