.nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  background-color: cadetblue;
  vertical-align: middle;
}

.nav__logo {
  width: 30%;
  background-color: brown;
}

.nav__search {
  width: 70%;
  background-color: goldenrod;
  display: flex;
  justify-content: flex-end;
}
